[2022-10-02 22:11] Njong392 opened #1 "[DOCS] Add license"
### Description

Since this is open to the public now, adding a license like Apache 2.0 would probably be cool.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 22:16] Njong392 opened #2 "Error handling is not properly optimised"
### Description

Users should be notified if a record they have entered isn't available in the JSON database yet. This is yet to be worked upon.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 22:17] Njong392 opened #3 "[DOCS] Include code of conduct"
### Description

We need some rules to make sure that contributors adhere to and collaborate in ways that are suitable for everyone else.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 22:22] Njong392 opened #4 "[DOCS] Add CONTRIBUTING.md file"
### Description

To help new contributors know exactly what to do and what to expect of the project...
 - [ ] We might need guidelines on how to fork, clone, push, etc
 - [ ] What kind of contributions we are looking for
 - [ ] Commit conventions, issue, and pull request templates
 - [ ] Links to resources, the code of conduct, etc

### Screenshots

_No response_

### Additional information

_No r

[2022-10-03 08:04] ctoffanin commented on #2
Emy, can I work on this one?

[2022-10-03 08:08] Njong392 commented on #2
Yes, Cristian! Go ahead. I'll assign it to you.

[2022-10-03 08:10] slim-codes opened #5 "[OTHER]: Add hacktoberfest label"
### What would you like to share?

@Njong392
Consider adding the hacktoberfest topic to this repo to bring more potential contributors to this project .
What do you think?

### Additional information

_No response_

[2022-10-03 08:12] Njong392 commented on #5
Ah yes. I have thought of this. Thanks for bringing it up again. Now that you mention it, I think I should.

[2022-10-03 08:14] slim-codes commented on #4
I'd like to work on this
- What kind of contributions are we looking for?

[2022-10-03 08:16] Njong392 commented on #4
Feel free @slim-codes I'll assign this to you!

[2022-10-03 08:18] Njong392 commented on #5
I have successfully added the topic and label. I'll close this issue now. Thank you :tada:

[2022-10-03 08:18] #5 closed

[2022-10-03 08:44] slim-codes opened #7 "[FEATURE] Include a few more abbreviations"
### Description

Consider appending the abbreviations on the homepage to the JSON database

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 08:52] Njong392 commented on #7
Do you want to take this issue?

[2022-10-03 09:00] slim-codes commented on #7
Sure!

[2022-10-03 10:28] bigupjeff opened #11 "[OTHER] Abbreves to add"
### What would you like to share?

TBH - To Be Honest
ROFL - Rolling Around Floor Laughing
FFS - For F*ck Sake

### Additional information

_No response_

[2022-10-03 11:39] akramnarejo opened #12 "Submit query"
### Description

Upon submitting, show some error if there's no information.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 12:00] Onyelaudochukwuka opened #13 "[FEATURE] Improved UI"
### Description

Improve Ui for mobile state as well as a few changes for desktop state.
The UI right now is awesome but could use a little fixes here and there

### Screenshots
![Screen Shot 2022-10-03 at 12 58 00 PM](https://user-images.githubusercontent.com/82924100/193571833-be3e80e0-f5ad-40b2-b6ab-455699429217.png)

### Additional information

I'll love to take this on 💪🏼

[2022-10-03 12:08] Njong392 commented on #13
Could you highlight the specific areas that need updating?

[2022-10-03 12:12] akebu6 commented on #1
Can i work on this? And what kind of license would you like?

[2022-10-03 12:24] Njong392 commented on #1
Apache 2.0. To kind of protect the logo.

[2022-10-03 12:25] akebu6 commented on #1
Gotcha

[2022-10-03 12:34] akebu6 commented on #1
Done

[2022-10-03 12:46] Onyelaudochukwuka commented on #13
The Search Bar and how results are displayed

[2022-10-03 13:23] #7 closed

[2022-10-03 13:26] Njong392 commented on #12
I 'll close this issue, since it's a duplicate.

[2022-10-03 13:26] #12 closed

[2022-10-03 13:30] Njong392 commented on #11
Go right ahead and add these. I'll assign you.

[2022-10-03 13:30] akebu6 commented on #3
What kind of information would you like to see in your code of conduct, anything in particular that you would want added?
And can I have the issue assigned to me?

[2022-10-03 13:32] ctoffanin commented on #2
Haha. nice, you could assign it to them at least :D

[2022-10-03 13:38] Njong392 commented on #13
I think you should have a go at this. Let's see. I'll assign you because I do think the search bar could be worked upon.

[2022-10-03 13:40] Njong392 commented on #2
They made a change, but they undid it because it didn't work, unfortunately. Do you still wish to work on this?

[2022-10-03 13:43] Njong392 commented on #3
Nice! I'll assign this to you. The code of conduct doesn't need much. I think github has a cool template that we could use. It already highlights the rules quite nicely.

[2022-10-03 13:45] ctoffanin commented on #2
Yeah, sure, not immediately, though.

[2022-10-03 13:51] Njong392 commented on #2
Take your time :) But not too much time lol

[2022-10-03 13:57] Onyelaudochukwuka commented on #13
On it 💪🏼

[2022-10-03 14:13] thisisisheanesu commented on #2
Oh hey, sorry I undid that by mistake and sorry I didn't ask first. Not used to open source stuff. I undid it to avoid mixing up things, the other PR I did was for a typo and I didn't want to send both as one you can verify but it was working when I tried

[2022-10-03 14:20] glopzel opened #16 "Change a:hover color"
### Description

Hi everyone,
There's not enough contrast between background color and text color when the user hovers over the Get Started link (navbar).
I don't know if the text could be changed to a lighter color or just not have a change of color on hover since there's already a scale effect.

### Screenshots

Picture of the button on hover:
![hover](https://user-images.githubusercontent.com/7

[2022-10-03 15:06] #3 closed

[2022-10-03 15:07] Njong392 commented on #16
Would you like to have a go at this @glopzel ?

[2022-10-03 16:33] Njong392 commented on #2
This looks quite good! You should create a PR!

[2022-10-03 17:07] AmineAouragh opened #19 "CTA button text is not accessible"
### Description

Hey!

I would like to share that the text on the CTA button "find an abbreviation" changes its color on click and it becomes not accessible. Not enough contrast between the text-color and bg-color.

I would rather keep the text color white.

### Screenshots

![Screenshot_20221003-180611_Samsung Internet](https://user-images.githubusercontent.com/71039249/193636785-e7e1dc70-23c9-4b

[2022-10-03 17:12] AmineAouragh opened #21 "Add new slangs"
## New slangs needed

While I was giving a try to Abbreve, i typed ngl but unfortunately didn't get any results in return - i know the project is still so young but no problem.

Same thing goes for ftw.

[2022-10-03 17:18] #2 closed

[2022-10-03 17:20] Njong392 commented on #21
This is currently being worked on! The reason the slang didn't show is that the abbreviation for it isn't available yet. You can open a pr to add them.

[2022-10-03 17:21] Njong392 commented on #19
This is also being worked on. I used the `react-scroll` package that comes with `Link` and styling the link attribute itself is kind of messy. I 'll look into this though.

[2022-10-03 17:47] AmineAouragh commented on #21
Oh yeah I know they don't exist yet. Will do ;)

[2022-10-03 18:17] Njong392 opened #23 "Abbreve forms"
Bugsample text question answersample text question answer

[2022-10-03 18:18] Njong392 opened #24 "Abbreve forms"
Bugsample text question answersample text question answer

[2022-10-03 18:20] Njong392 opened #25 "Abbreve forms"
Missing AbbreviationlmkNot a bug

[2022-10-03 18:20] #24 closed

[2022-10-03 18:25] Njong392 opened #26 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :lmk
Bug description: No bug

[2022-10-03 18:29] #25 closed

[2022-10-03 18:29] Njong392 opened #27 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :hello this is a test
Bug description:

[2022-10-03 18:29] #27 closed

[2022-10-03 19:06] Njong392 commented on #26
Completed!

[2022-10-03 19:06] #26 closed

[2022-10-03 19:09] Njong392 opened #28 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :til = today I learned
Bug description:

[2022-10-03 19:09] Njong392 opened #29 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :ikr = I know right
Bug description:

[2022-10-03 19:35] Rutam21 opened #31 "Add new Abbreve Slangs"
### What would you like to share?

This issue is to add a new slang `ootd`, `ttyl`, `rofl` and `tc` to the app.

### Additional information

OOTD stands for Outfit Of The Day.
TTYL stands for Talk To You Later.
ROFL stands for Rolling On the Floor, Laughing
TC stands for Take Care

@Njong392 I am open to making this PR.

[2022-10-03 19:55] #31 closed

[2022-10-03 20:13] #28 closed

[2022-10-03 21:03] akebu6 commented on #4
What parts of this document are being worked on and which aren't?

[2022-10-03 21:10] Njong392 commented on #4
I think @slim-codes wants to write about the kind of contributors we are looking for. I think you can go ahead and start work on this.

[2022-10-03 21:11] akebu6 commented on #4
Let them work on that part, so I can just update it with the remaining info so as not to have any merge conflicts arising

[2022-10-03 21:22] Njong392 opened #37 "When abbreviation is shown, error message doesn't disappear"
### Description

When a slang that does not exist is shown, there is a message to tell user that the slang does not exist. But if the next slang to be entered does exist, the abbreviation is shown. But the error message from the previous entry does not go away.

### Screenshots

![Screenshot from 2022-10-03 22-16-16](https://user-images.githubusercontent.com/81039882/193684993-5209323a-2be5-480a-9

[2022-10-03 23:10] mathiasayivor opened #42 "[FEATURE] Improve on structure for db"
### Description

The current structure of db looks like:
[code]
which is good, but we can improve on the structure by making the `alternatives` prop required and an array. So the new structure now becomes:
[code]
Using the proposed structure gives us the possibility to add other features, such as linking related abbreviations and other benefits as the app grows

Below is an example showing the cur

[2022-10-03 23:26] Superfly101 opened #43 "Submit button searching for slang when input is empty"
### Description

when the search input is empty, hitting the submit button sends a request and all the abbreviations are fetched successfully but unable to find a matching abbreviation for the empty string '', hence resulting in the error message.

Adding input validation should fix this. Thank you, this is my first time creating an issue.

### Screenshots

_No response_

### Additional informatio

[2022-10-03 23:32] mathiasayivor opened #45 "[FEATURE] Use prettier"
### Description

The current codebase is a bit hard to read because there is little/no linebreaks/formatting. Using prettier addresses this issue and would also help keep a consistent formatting for the whole codebase

### Screenshots

![Screenshot from 2022-10-03 23-27-50](https://user-images.githubusercontent.com/74247733/193703833-2916f48a-7887-406a-b630-d789e35d4958.png)
![Screenshot from 2022

[2022-10-03 23:33] TylerGeorgeAlexander commented on #37
Hey, I just requested a PR. I might have accidentally formatted with my prettier linter.
I got the fix by changing:
[code]

It resets the errorMessage state on change to work with the existing code's conditional rendering.
I hope this helps, let me know if there is anything else I could assist with.

[2022-10-04 00:02] Superfly101 opened #46 "[FEATURE] No Favicon"
### Description

The Logo used in the Navbar can also be up there as the favicon

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 00:23] mathiasayivor opened #47 "[FEATURE] Break db.json to smaller chunks"
### Description

Currently, there's only one db.json file, which contains all definitions and as the DB file grows (more definitions added) there'd be at least the following issues:
* Searches take time since the db.json file has to be downloaded on each search
* App becomes slow since the downloaded db.json file has to be stored in memory for each search request
* Adding new definitions become di

[2022-10-04 01:30] Njong392 opened #48 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :FGS - for god's sake (or rated R version: FFS - for fuck's sake)
Bug description:

[2022-10-04 02:44] Njong392 opened #49 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :TBF = to be fair
Bug description:

[2022-10-04 04:07] ctoffanin commented on #45
Yes, I was about to open the same!

[2022-10-04 04:43] ctoffanin commented on #37
The codebase has changed, but yes `setErrorMessage(false);` there does the trick.

[2022-10-04 06:51] Njong392 commented on #19
This issue is sort of a duplicate of #16 so I'll close it.

[2022-10-04 06:51] #19 closed

[2022-10-04 07:09] Njong392 commented on #37
:thinking: I already used `useEffect` to fix this already. If you try the site now, it should work fine. If you see anything odd, feel free to suggest additions. If not I'll close this issue as fixed. So sorry, I didn't know someone was working on this since it wasn;t assigned.

[2022-10-04 07:10] Njong392 commented on #45
Oh yes. I have been thinking about this, and it's definitely on my list. @mathiasayivor do you want to create a branch and work on this? I assume we will be using `husky` to format on commit?

[2022-10-04 07:11] Njong392 commented on #46
Could you please expatiate on this? Favicon as in how?

[2022-10-04 07:14] ctoffanin commented on #37
Just checked right now. LGTM 👍

[2022-10-04 07:14] Njong392 commented on #47
I love this proposition! I have been going over how to avoid the huge file size. For the structure you proposed in #42 I see the point there. But I would like to prioritize this issue over that one for the time being. Perhaps we can start a branch to work on this. What do you think?

[2022-10-04 07:46] Njong392 commented on #37
Great! @TylerGeorgeAlexander is it okay to close this?

[2022-10-04 07:49] TylerGeorgeAlexander commented on #37
Yup, sounds good.

[2022-10-04 07:50] #49 closed

[2022-10-04 07:50] #48 closed

[2022-10-04 07:52] Njong392 commented on #43
Thank you for raising this :+1: Would you like to be assigned to fix this?

[2022-10-04 07:52] #37 closed

[2022-10-04 07:56] Njong392 commented on #4
@slim-codes are there any updates on this?

[2022-10-04 07:58] Superfly101 commented on #46
Sorry about that, a Favicon is simply the icon next to the title of a page.

For example, next to the page title which is "GitHub" the icon before it is called a favicon.
<img width="188" alt="github-favicon" src="https://user-images.githubusercontent.com/68870695/193765314-9afb12f6-196e-4c28-968f-ece733c8623b.png">

But next to the Abbreve title, there's no favicon it's blank.
<img width="288" al

[2022-10-04 08:00] Njong392 commented on #46
Oh, I see. Would you want to be assigned to this?

[2022-10-04 08:04] Superfly101 commented on #43
Yes, I would. Thank you

[2022-10-04 08:30] Superfly101 commented on #46
Yes, on it.

[2022-10-04 09:53] rupali-codes opened #54 "[DOCS] README.md contains Typos and Spelling mistakes"
### Description

- In *Tech stack* section, there's a semicolon, it should be replaced with a Colon.
- In *steps* section, spelling of *repository* is incorrect.
- and some other small typos.

_No response_

[2022-10-04 09:55] rupali-codes commented on #54
Hey @Njong392, I would like to work on this, kindly assign it to me :)

[2022-10-04 11:15] rupali-codes opened #56 "[OTHER] db.json contains repeatative data"
### What would you like to share?

db.json file contains repeattive data, see from line 172 to line 332 (as of now).

### Additional information

_No response_

[2022-10-04 11:59] mathiasayivor commented on #47
Sure!

[2022-10-04 12:02] mathiasayivor commented on #47
We can implement this solution now, which means we'd have to create a simple app for restructuring all definitions once the decision is made on an alternative structure

[2022-10-04 12:27] Njong392 commented on #54
Yes Rupali! Feel free to work on this. Assigning you.

[2022-10-04 12:32] Njong392 commented on #56
Nice spot Rupali! Thank you SO much for this. I have managed to clear the duplicates, but take a look now and tell me if you can catch something I haven't. If not, will close this issue as solved.

[2022-10-04 12:42] publikphigor opened #58 "Too much inline-padding on mobile screens"
### Description

The padding left and right on mobile devices makes the texts wrap a lot and increases scroll length.
There isn't much space on mobile screens, so, the available spaces should be utilized maximally.

### Screenshots

![abbreve vercel app_(Samsung Galaxy S20 Ultra)](https://user-images.githubusercontent.com/35191595/193822065-4ccfbe2f-926d-4dc7-8067-ba603e9d9f41.png)

### Additional

[2022-10-04 13:28] #58 closed

[2022-10-04 13:30] #46 closed

[2022-10-04 13:32] Njong392 commented on #47
Ok good. I'll create a branch ASAP. Are we going to manually create folders for the new structure you proposed? If so, I suggest we don't tamper with the `db.json` file. While we work on the fork people will be adding contributions to it. Deleting it will cause serious merge conflicts.

[2022-10-04 13:45] Njong392 commented on #47
I have created a branch called `structure` for the migration. If you have any other questions, do reach out.

[2022-10-04 14:57] Njong392 opened #60 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :tbh = to be honest
Bug description:

[2022-10-04 15:00] larsniet commented on #47
Breaking the data down into individual files is a good idea! Only problem I can think of is the abbreviations that can't get transformed into a file so easily. Take this for example:

`
"w/o": {
    "definition": "Without"
  },
`

We could for example use an underscore to check for spaces and something else to check for slashes. Just something to keep in mind.

[2022-10-04 15:06] mathiasayivor commented on #47
Sure! I'm out atm would start working on it as soon as I'm back

[2022-10-04 15:10] Njong392 commented on #45
Should I assign you to this @ctoffanin ? Since @mathiasayivor is taking on the migration issue.

[2022-10-04 15:11] Njong392 commented on #21
`ngl` was just recently added. If you are still keen on making a contribution, I'd say add only `ftw`

[2022-10-04 15:12] Njong392 commented on #4
@akebu6 I think it's safe to start work on this.

[2022-10-04 15:14] Njong392 commented on #11
Hey @bigupjeff if you are still keen on working on this, then you must know that pull requests have already been opened for `tbh`. `rofl` already has an entry. So you are left with `ffs`.

[2022-10-04 15:17] ctoffanin commented on #45
@Njong392, ask them first. If they're not up to it, assign it to me.

[2022-10-04 15:21] mathiasayivor commented on #45
Sure! @ctoffanin can be assigned.

[2022-10-04 15:26] rupali-codes commented on #5
Hey @Njong392, You haven't added *Hacktoberfest* label yet.

[2022-10-04 15:45] slim-codes commented on #4
Yeah! I'm almost done here. Just a few more hours
Been having some power issues

[2022-10-04 15:48] slim-codes commented on #4
@akebu6 How about you start working on the last two sections pending when I complete the first 2:
-  [ ] Commit conventions, issue, and pull request templates
- [ ] Links to resources, the code of conduct, etc

[2022-10-04 16:31] ctoffanin commented on #45
@Njong392 I have no time tonight. I will take care of it tomorrow morning!

[2022-10-04 16:32] akebu6 commented on #4
@slim-codes yeah I can do that

[2022-10-04 16:38] Njong392 commented on #60
solved.

[2022-10-04 16:38] #60 closed

[2022-10-04 16:38] Njong392 commented on #45
No problems. Do it when you can :+1:

[2022-10-04 17:32] Njong392 commented on #5
If a pull request is good enough for hacktoberfest, I'll add the label to the pull request itself. I removed the topic.

[2022-10-04 19:21] slim-codes commented on #4
@Njong392
In the **What kind of contributions we are looking for section** I included the following:

1. You can append common abbreviations/acronyms used for communicating through the internet (social media) to the list of definitions.
2. Do not make duplicate entries (always confirm that an entry does not exist by searching through the the json file
3. Only English abbreviations are currently al

[2022-10-04 20:53] slim-codes commented on #47
@mathiasayivor
If I understand correctly, each abbreviation should have it's own json file?
If that's the case, my only question is this. Wouldn't that be too many json files? Assuming each acronym is independent

[2022-10-04 21:01] mathiasayivor commented on #47
Yes, but it makes sense to do so based on our current situation.

Also, I don't think anyone would want to go through the JSON files individually to look for definitions, as it's the equivalence of trying to manually going through an app's database instead of actually using the app.

Secondly, as I stated in the caveats section, we can implement a solutions for managing each JSON file, which I'd s

[2022-10-04 21:03] mathiasayivor commented on #47
This is worth noting! Thanks for pointing it out @larsniet

Saw this late...

[2022-10-04 21:15] slim-codes commented on #47
Well, I just assumed that it would be better to leave it as is pending when a NoSQL database would be implemented. Migration wouldn't be difficult in this case. However if transferring the content of the JSON files to an actual database at a later point in time wouldn't be a problem. It's all good

[2022-10-04 21:41] mathiasayivor commented on #47
As I said, there'd be a solution for handling situations like that.

Also, I believe the whole point of creating a JSON file is to make the contribution process easier (no need to create an extra account, anyone can review new abbrev additions, everything on one platform; GitHub)?

[2022-10-04 22:02] bigupjeff commented on #11
@Njong392 Sorry, this issue is a result of me being half asleep on a train messing with Github on my phone. 🙃

Creating PR now

[2022-10-04 22:13] Njong392 commented on #47
I agree with @mathiasayivor on this one. There is no need to think of databases for now. Will there be many files? Yes. But nobody will be going through them like he said. It's just a more optimised method for what we have right now.

[2022-10-04 22:26] Njong392 commented on #4
3 looks okay to me. As for 4 it's not very clear yet. We can work on that during PR reviews. Same goes for 6. I don't think there's any need to restrict the number of PRs someone makes. We can address that during reviews. So i suggest taking out 4 and 6 for now. What do you think?

[2022-10-04 22:27] Njong392 commented on #4
Also wanted to say 5 isn't necessary. A spell checker is cool, but we shouldn't get people to install an additional extension for something we can help them fix... It makes sense, but I don't know. I'd love to hear thoughts on this.

[2022-10-04 23:07] slim-codes commented on #4
Alright then. Just wanted to be sure. BTW 6 isn't a restriction on the number of PR's but a restriction to the number of new entries in a single PR. However, considering the plans for making each acronym have it's independent JSON, 6 becomes unnecessary as you said.

- since 4 isn't clear yet, we should remove it too

[2022-10-04 23:12] slim-codes commented on #4
Yes! I thought about this too, contributors shouldn't have to be obligated to install any external resources.
Will replace 5 with Check your new additions for typos before commiting.

### Conclusion
Remove 4 & 6
Modify 5

[2022-10-04 23:35] #16 closed

[2022-10-05 00:43] adropofilm commented on #42
I think it makes sense to make Alternatives an array. I would pass on making it required though, since some abbreviations may have no alternatives. Maybe something like the following would be a nice first-time feature for someone to work on:

I like adding contexts, this will require a UI update to make it beneficial.
![Screen Shot 2022-10-04 at 7 42 49 PM](https://user-images.githubusercontent.co

[2022-10-05 00:48] mathiasayivor commented on #42
Making the `alternatives` prop required promotes a consistent data structure.

And if the abbrev doesn't have any alternatives, you pass an *empty array*

[2022-10-05 01:09] adropofilm commented on #42
Gotcha, makes sense then. :)

[2022-10-05 07:01] rupali-codes opened #66 "[FEATURE] Form should be empty after clicking on submit"
### Description

Removing text after submitting form would be a nice option.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 08:15] #21 closed

[2022-10-05 09:24] lovelacecoding opened #71 "[OTHER] small color changes for accessibility"
### What would you like to share?

Hi! I have some small color changes that can make the application more accessible.

original:
![image](https://user-images.githubusercontent.com/92865452/194026175-eb32d6ce-324a-4672-a20a-4d7b62683da8.png)
new version:
![image](https://user-images.githubusercontent.com/92865452/194026418-a72b0ae2-cac6-444b-a18f-ea45c304f8dc.png)

I changed the original purple col

[2022-10-05 09:42] ctoffanin commented on #71
I agree with you. I like it!

[2022-10-05 10:19] Njong392 commented on #43
Are you still working on this? A pull request has been opened for this already #72 I'll close it if you have already made progress on your side :+1:

[2022-10-05 10:22] #45 closed

[2022-10-05 10:25] Njong392 commented on #66
I don't this would be very good UX. It would be nice to see the definition, alongside the input that the user made. But I would love to hear more thoughts on this.

[2022-10-05 10:27] Njong392 commented on #71
Yes Lou! Looking at it now, I see how cool the contrast is. You can go ahead and submit a pull request for this!

[2022-10-05 10:55] Superfly101 commented on #43
I haven't had the time to work on this. So yeah, someone else can definitely take this.

[2022-10-05 12:24] rupali-codes commented on #66
Well Emy, we are listening on Input events, and there's no need of submit button na, it's not going to do anything.

More better, what we can do is showing reuslts If the word exists or not on Input (it says __ doesnt exist only when clicking on submit)

[2022-10-05 12:39] mathiasayivor opened #74 "[FEATURE] Add husky"
### Description

Currently, we have prettier but you'd have to manually run `npm run format` to format the code base before pushing changes.
Sometimes, one might forget to format the code base before pushing changes.
Adding husky prevents this by automatically formatting the code base before each commit

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 13:11] ctoffanin commented on #74
Good point! I'm used to the IDE's plugin that formats at every save. I forgot about it.

[2022-10-05 13:41] mathiasayivor opened #75 "[FEATURE] UX: Add loading animation for searches"
### Description

Currently, there's no indication to show when the app is looking up the definition for my searched abbrev.
It would be an improvement in UX to show a loading animation when a search is running

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 13:46] mathiasayivor opened #76 "[FEATURE] UX: Show search suggestions for similar abbrevs when searching"
### Description

It would be great to show search suggestions for similar abbrevs when the user starts typing in the search box.

### Screenshots

_No response_

### Additional information

Sometimes, you may forget an abbrev but you know the first few characters. Adding search suggestions provides a good ux in such situations

[2022-10-05 14:00] mathiasayivor commented on #74
yep

[2022-10-05 14:29] Njong392 commented on #74
Ah yes... `husky` totally skipped my mind when I reviewed the pull request. Does anyone want to take this on?

[2022-10-05 14:31] Njong392 commented on #66
We are currently addressing this issue. If we split the abbreviations into separate files, then the user will have to click submit every time they enter something. That way, if they click submit and a word doesn't exist, it will show.

[2022-10-05 14:35] Njong392 commented on #75
Good thinking. The response doesn't take more than 3 seconds to return, so adding a loading animation might be work for nothing.

[2022-10-05 14:42] #54 closed

[2022-10-05 14:53] mathiasayivor commented on #75
IMO, it's generally a good idea to add indicators for running processes, even if they take only a few ms
In this case, the delay might be noticed by users with a slow connection or even those that lost their connection whiles searching.

[2022-10-05 15:14] Njong392 commented on #76
Here's why I think this might not be a big worry for now. I am assuming that people would visit the site because they have something specific they are looking for. I see the point you are making here though.

[2022-10-05 15:16] Njong392 commented on #43
Closing this as solved.

[2022-10-05 15:16] #43 closed

[2022-10-05 15:49] mathiasayivor commented on #76
Sure... makes sense

[2022-10-05 16:12] #76 closed

[2022-10-05 17:14] Johnnyteck opened #78 "[FEATURE] Hover state for get started button doesnt look good"
### Description

Maybe the white text color should be retained since it scales already (indicating it's state) or what do you think

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 17:16] Johnnyteck opened #79 "[FEATURE] Page length"
### Description

I'm thinking since this is more like a dictionary-like app, the page length should be that long. A smaller font size for the main text and some other little rearrangements and optimization should be help to fix this to a level.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 18:19] rupali-codes opened #83 "When hovering on *Get Started* button, it's text-color is Not looking good"
### Description

Text color of *Get Started* button should be updated to white

### Screenshots

On Hover
![image](https://user-images.githubusercontent.com/78981177/194132776-ae46f697-daf8-4e6a-a1be-671507162721.png)

### Additional information

I'll appriciate if this can be assinged to me ;)

[2022-10-05 19:29] #74 closed

[2022-10-05 19:31] Njong392 commented on #79
I don't see why the page length should be long. Are there any advantages?

[2022-10-05 19:31] Njong392 commented on #83
Is this the color when you hover?

[2022-10-05 19:34] Njong392 commented on #83
This issue is a duplicate of #78 so I'll have to close it unfortunately.

[2022-10-05 19:34] #83 closed

[2022-10-05 19:35] Njong392 commented on #78
I think is due to the `Link` attribute from the `react-scroll` package. Would you like to try and fix this?

[2022-10-05 20:12] Johnnyteck commented on #79
What I mean is that the page length can be shorter, and would be best if
it's viewport height

On Wed, 5 Oct 2022, 20:31 Njong Emy, ***@***.***> wrote:

[2022-10-05 20:39] #78 closed

[2022-10-05 20:46] Njong392 commented on #79
I think if we try to make it viewport length, the text will have to shrink too much. The page is not that long the way I see it. And there is scroll to section button for the user.

[2022-10-05 20:48] Johnnyteck commented on #79
Aiit, cool 🙂

On Wed, 5 Oct 2022, 21:46 Njong Emy, ***@***.***> wrote:

[2022-10-05 20:54] #79 closed

[2022-10-06 00:21] mathiasayivor opened #86 "[FEATURE] UX: UI v2"
### Description

Currently, users have to scroll down in order to search for abbreviations, which IMO is not a good UX since the main focus of the app is for users to quickly find definitions for abbrevs.

My proposal is to move the search input to the top so that users can easily and quickly search for abbrev definitions.

### Screenshots

![Screenshot 2022-10-06 at 00-09-41 Abbreve](https://user

[2022-10-06 05:27] PriyansuMaurya opened #88 "Put a word-wrap property for the => | errorMessage & isUserInputBlank | text which appear when either of both States are true."
### Description

When we put wrong slang or slang that is not present or the search bar is empty, we get a msg telling us the real problem like
this

**1.  When slag is not present**

    - This entry does not exist in our records as of yet :(

      1. You can help us add this by creating a [github issue](https://github.com/Njong392/Abbreve)

      2. Or, you could fill out this [feedback form](h

[2022-10-06 06:33] Dun-sin opened #89 "[FEATURE] Move Position of search bar"
### Description

I think it's much better if the search bar is located at the top, it's easier to find.
Just a thought

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-06 06:36] Dun-sin opened #90 "[DOCS] Add automatic releases"
### Description

I noticed that the last time a release for this project was done, it was over 2 years ago.

How about create an automatic release, that happens whenever some contributes to this project, it will use the conventional commit.

Here's a link for reference:
[Set Automatic Release (Skip Commitizen)](https://youtu.be/QZdY4XYbqLI)
[Conventional Commit](https://gist.github.com/Zekfad/f51c

[2022-10-06 06:42] Dun-sin opened #91 "[DOCS] Use a gif to show a demo"
### Description

Instead of a picture of the website for demo in the readme, would be nice to have a gif instead

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-06 07:12] adropofilm commented on #89
I agree it should probably be moved somewhere that gives it more attention, because right now the end user has to look for it more than they probably should. The search component blends in in the same way an email subscription input does. I think it might look nice underneath the abreviation examples, as highlighted in the image below.

![Screen Shot 2022-10-06 at 2 10 01 AM](https://user-images.g

[2022-10-06 07:14] adropofilm commented on #88
Sounds great, @PriyansuMaurya do you want me to assign this to you?

[2022-10-06 07:14] Dun-sin commented on #89
I was thinking either there or the navbar section

[2022-10-06 07:16] Dun-sin commented on #91
Na, I'm good, someone else can take it

[2022-10-06 07:20] adropofilm opened #92 "[DOCS] Update instructions for adding new abbreviations"
### What would you like to share?

We need to update the repo README.md to account for the changes made in https://github.com/Njong392/Abbreve/pull/64.

### Additional information

_No response_

[2022-10-06 07:21] adropofilm commented on #92
@mathiasayivor do you want to take this over?

[2022-10-06 09:28] #11 closed

[2022-10-06 09:44] Njong392 commented on #47
Closing this as merged!

[2022-10-06 09:44] #47 closed

[2022-10-06 10:20] Njong392 commented on #90
Yayyy! Thank you for bringing this up. Fixed :tada:

[2022-10-06 10:20] #90 closed

[2022-10-06 10:23] Njong392 commented on #92
Since this is somewhat crucial, once I change the structure, I'll immediately change the README too.

[2022-10-06 17:18] slim-codes commented on #4
@akebu6
I am done with my part. Although, a some the inclusions I made to the file coincided with the last two sections you are handling. I suppose you can review it and add your input wherever it is required.

[2022-10-06 17:41] Njong392 commented on #91
Awesome! I'll assign this issue to you 💙💙

[2022-10-06 17:43] Njong392 commented on #88
Thank you for raising this Priyansu! If no one takes this on, I'll try to go over it and see what I can do 💙

[2022-10-06 18:40] akebu6 commented on #4
Sure, I will look at it tomorrow and complete the remaining sections

[2022-10-06 20:02] adropofilm commented on #92
Sounds good @Njong392 @mathiasayivor

[2022-10-06 20:04] #91 closed

[2022-10-06 21:32] TheZal commented on #91
Can u please add the hacktoberfest-approved label? I saw this issue thanks to the hacktoberfest!

[2022-10-07 05:01] theselaw opened #99 "[OTHER]-CONFLICTING ABBREVIATIONS"
### What would you like to share?

CONFLICTING ABBREVIATIONS

### Additional information

I think room should be made for some abbr. terms like "WTH" which has more than one meaning i.e " What the heck" and "What the hell".

[2022-10-07 05:21] adropofilm commented on #99
Hi @theselaw! Great suggestion. We currently cover this with the `alternatives` key for abbreviations that may have more than one meaning. You can find some examples of this elaborated in the [`db.json`](https://github.com/Njong392/Abbreve/blob/b032878231d10f1ac9892981aa912dd745c971da/public/server/db.json#L3).

[2022-10-07 05:21] #99 closed

[2022-10-07 05:55] theselaw commented on #99
Alright!,Saw that, great.

[2022-10-07 06:00] theselaw opened #100 "[OTHER] "USE CASES" FOR ABBREVE TERMS"
### What would you like to share?

I think "use cases" could be added to the terms to give users more insight into the term to those who are new to it and as an illustration.

### Additional information

_No response_

[2022-10-07 06:04] theselaw commented on #100
this could be added to the db.json files as "use cases".

[2022-10-07 06:14] adropofilm opened #102 "[FEATURE] Add error msg when non-existing abbreviation is searched AFTER db.json has been fetched once"
### Description

Let's talk through a few different scenerios:

1. When user types in value for an existing abbreviation and then clicks the search button, the definition appears as expected.
![Screen Recording 2022-10-07 at 12 28 09 AM](https://user-images.githubusercontent.com/9134674/194474306-adc2556e-8ca8-4a8d-9e8b-5eefd9ef14b4.gif)

2. If user types in the following AFTER db.json has already

[2022-10-07 07:22] Njong392 commented on #91
Done. I added the label after it was merged, so please tell me if it does or does not appear in your hacktoberfest profile.

[2022-10-07 07:23] Njong392 commented on #100
We are currently adjusting the structure of the database. You can check out the conversation at issue #46

[2022-10-07 07:55] theselaw commented on #4
@Njong392 isn't there a way for users to contribute from github directly ?

If there is ,it would be nice If this can be included in the documentation.
Would love to be assigned that too.

Thanks.

[2022-10-07 08:10] TheZal commented on #91
Yes, it appears! Thx

[2022-10-07 08:41] akebu6 commented on #4
@theselaw this is a great idea and I can incorporate it in the section I'm working on

[2022-10-07 10:20] Njong392 commented on #100
Discussion for this is already going on in #42 I am going to close this issue, and you can move this conversation there :+1:

[2022-10-07 10:20] #100 closed

[2022-10-07 10:23] Njong392 commented on #102
With the new structure of the db that we merged some time ago, I think this problem could be fixed. The browser will have to fetch whatever the user has entered, so submit will be hit after every entry. If they enter something that doesn't exist, hitting submit will then show an error message. How's that?

[2022-10-07 10:28] Njong392 opened #103 "[DOCS] Markdown link to gif is showing in the README"
### Description

The screenshot in the README was recently substituted by a GIF. But the markdown link of the added GIF is showing in the README, and this doesn't look very good. You can see the link above the gif itself.

Open the README file in edit mode (You have to fork the repo to do this) and in the section where the gif is added, and change

`![Gif of form section of page with 'various type

[2022-10-07 11:06] sujal-goswami commented on #103
hello, Njong I want to solve this issue can you assign this issue to me, and I also want you to add hacktoberfest label also.

[2022-10-07 12:04] theselaw commented on #4
Alright,If there's any way I can contribute to that,please let me know.

Thanks.

[2022-10-07 16:46] Njong392 commented on #103
Unfortunately, this issue doesn't count toward hacktoberfest. You can still go ahead and work on it for good practice. Should I assign you still?

[2022-10-07 18:53] sujal-goswami commented on #103
Yeah, sure

[2022-10-08 08:30] Njong392 commented on #4
Reopening this to keep up with conversation.

[2022-10-08 11:03] mathiasayivor commented on #4
Just saw this. I guess we need to update this document with the changes made in #108 after reviews

[2022-10-08 11:06] mathiasayivor commented on #86
@Njong392 @adropofilm Any views on this?

[2022-10-08 13:33] JexXxika opened #109 "Involuntary form submit"
### What would you like to share?

I noticed the meaning of abbreviations gets rendered before clicking the submit button

### Additional information

_No response_

[2022-10-09 14:31] ctoffanin opened #112 "[OTHER] When you run npm install, package-lock.json is updated"
### What would you like to share?

When the version number is updated in `package.json`, `npm install` should be run to update `package-lock.json` with the new version number and add it to the commit.

In this way, in case of a first-timer willing to contribute to a "good first issue" won't be confused from the get-go with a modified file they are not supposed to commit.

### Additional informatio

[2022-10-09 16:05] The-True-Hooha commented on #103
Hello @Njong392 , any result on this? If nothing yet, kindly assign it to me

[2022-10-09 16:38] Njong392 commented on #103
@sujal-goswami are you still interested in this?

[2022-10-09 16:40] sujal-goswami commented on #103
Yes, probably you got PR today.

[2022-10-09 19:34] #103 closed

[2022-10-09 19:36] adropofilm commented on #86
Definitely agree. I also think this should be moved up too, since it won't make sense to have it at the bottom when the search bar is moved up.

![Screen Shot 2022-10-09 at 2 36 01 PM](https://user-images.githubusercontent.com/9134674/194776163-872c6ba8-89e8-4337-ae09-926d02e65078.jpg)

[2022-10-09 20:08] akebu6 commented on #4
@slim-codes I am going to add the alternative of using GitHub when creating issues and the like because some people are not comfortable with using CLI

[2022-10-09 20:28] slim-codes commented on #4
@akebu6
Yeah! That's a good idea.
Considering code/documentation changes can also be done straight from the GitHub UI.

[2022-10-09 20:45] akebu6 commented on #4
@slim-codes that's very true because not everyone is comfortable with working with CLI

[2022-10-10 11:50] TreciaKS opened #115 "Add '_blank' attribute"
### Description

It would be great to add a _blank attribute to the site so that when clicking on the github icon, it opens a new tab instead of just opening the Github page on your current website

### Screenshots

<img src="https://user-images.githubusercontent.com/82657928/194859337-2642b20c-e590-43df-a089-d6ff656cb63d.gif" />

### Additional information

_No response_

[2022-10-10 12:03] TreciaKS opened #116 "[NEW ABBREVIATIONS]"
### Description

To add new abbreviation such as:
-  ily
- bts
- dyk
- gtg
- lmao

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-10 13:32] rupali-codes opened #117 "New Abbreviations"
### What would you like to share?

I have some new and common abbreviations to add:
- gn - Good Night
- gm - Good Morning
- btw - By The Way
- yrr - You aRe Right
- ihtg - I Have To Go

### Additional information

_No response_

[2022-10-10 18:48] rupali-codes commented on #66
alright Emy :)

[2022-10-10 18:48] #66 closed

[2022-10-10 19:01] #4 closed

[2022-10-10 19:27] Njong392 commented on #117
For sure @rupali-codes Should I assign you for this?

[2022-10-10 19:27] Njong392 commented on #116
Should I assign you to this @TreciaKS ?

[2022-10-10 19:28] Njong392 commented on #115
This makes sense. Should I assign you?

[2022-10-10 19:31] Njong392 commented on #109
Yes, but we are trying to create a new structure for this. If you check, we have another branch called `structure` that will change the way these abbreviations are stored. With each slang in its own file, the user will need to hit submit every time they search for something.

[2022-10-10 19:32] Njong392 commented on #86
Yes, I think we should move the entire component upward as @adropofilm has suggested. Is anyone up for this issue?

[2022-10-10 19:33] Njong392 commented on #13
@Onyelaudochukwuka are there any updates on this?

[2022-10-10 19:36] TreciaKS commented on #116
Yes yes yes 🙌

[2022-10-10 19:38] TreciaKS commented on #115
Yes and label my PRs as Hacktoberfest 🙏

[2022-10-10 20:11] Njong392 opened #119 "When entry does not exist, error message does not show."
### Description

When the user enters something that does not exist, an error message is not shown.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-10 20:17] Njong392 commented on #115
you can go ahead and work on this, but you must know that not every PR you make counts for hacktoberfest :+1:

[2022-10-10 20:17] theadeyemiolayinka commented on #119
Hey @Njong392 , I would love to be assigned to fix this issue. Thanks

[2022-10-10 20:21] Onyelaudochukwuka commented on #13
None yet🤧

[2022-10-10 20:32] Njong392 commented on #119
Go for it!

[2022-10-10 22:01] #119 closed

[2022-10-11 04:29] prakashrx commented on #86
@Njong392 Can you assign to me

[2022-10-11 06:41] adropofilm commented on #109
Closing this because update was merged that prevents this from occurring.

[2022-10-11 06:41] #109 closed

[2022-10-11 08:23] ctoffanin commented on #112
Adding it to a git pre-commit hook something like:
"check if `package.json` had been modified and in case run this `npm i --package-lock-only`"
The `--package-lock-only` argument will only update the `package-lock.json`, instead of checking node_modules and downloading dependencies.

I'm not super skilled with git hooks, if you don't find anybody else to work on this, you can assign it to me.
I do

[2022-10-11 14:35] Onyelaudochukwuka commented on #13
I'll be turning something in on friday

[2022-10-11 16:42] EmmaDawsonDev opened #125 "Get started button not keyboard accessible"
### Description

The 'Get Started' button in the header is not reachable by keyboard when tabbing through the site.

### Screenshots

_No response_

### Additional information

I would like to work on this issue.

[2022-10-11 16:47] adropofilm commented on #112
I'll take a stab at it! I don't know much about git hooks either but I'll document thoroughly for us @ctoffanin

[2022-10-11 16:51] adropofilm commented on #125
Nice catch, assigned you to it @EmmaDawsonDev!

[2022-10-11 16:51] adropofilm commented on #102
Sounds good, let me close this :)

[2022-10-11 16:51] #102 closed

[2022-10-11 17:00] Njong392 commented on #125
If you check #122 I was debating on removing the component completely since the form component was moved upward.

[2022-10-11 17:03] EmmaDawsonDev commented on #125
Ah ok. I've been looking at the component and it turns out the scroll library you're using is completely inaccessible and it's going to take some hacky solutions to work around it. My suggestion would be to at least remove the scroll library and find another way to add scroll animations (I'm pretty sure smooth scrolling in CSS would be enough). I'll hold off on fixing this until you decide what yo

[2022-10-11 17:09] Njong392 commented on #125
The `react-scroll` library does bring along challenges. Even styling can be hard. So, the form component used to be at the bottom of the page, and the user sort of needed the scroll effect to reach it. But since we have sort of refactored and brought the form closer to the navbar, I see no reason for the scroll effect. Hence no use for these buttons or the library itself.

[2022-10-11 17:10] ctoffanin commented on #112
Good, if you have problems ping me (I'm sure it won't happen)

[2022-10-11 17:31] EmmaDawsonDev commented on #125
Ok, I removed the scroll.link and replaced it with a regular one. No worries if you decide to remove the button altogether though :) I'll do some more a11y testing and find some other things to fix :D

[2022-10-12 02:27] adropofilm commented on #112
PR ready! Can I pls get some eyes on it? https://github.com/Njong392/Abbreve/pull/127

@Njong392 @ctoffanin @mathiasayivor

[2022-10-12 10:27] #112 closed

[2022-10-12 10:28] Njong392 commented on #75
Sure thing @ctoffanin go ahead and take it.

[2022-10-12 15:46] reny-pacheco opened #128 "User input is not sanitize before making a request resulting to send all contents of db.json file."
### Description

User input is not sanitize before making a request.
Adding `../db` as form input results to send the whole content of `db.json` file.

I suggest to sanitize user input before sending a request.

### Screenshots

![image](https://user-images.githubusercontent.com/64537418/195387767-65a8d6ae-1f2e-4c57-9fea-11cac2f3afca.png)

### Additional information

_No response_

[2022-10-12 15:52] reny-pacheco commented on #128
Yes, I like to work on this. Please assign to me.

[2022-10-12 16:00] Njong392 commented on #128
Sure thing. Assigned!

[2022-10-12 17:14] reny-pacheco commented on #128
Hi @Njong392 , I already created a PR for this and its ready for review, Thanks. 😃

[2022-10-13 18:47] #117 closed

[2022-10-13 18:53] Njong392 commented on #115
@TreciaKS is there any update on this?

[2022-10-14 07:54] slim-codes opened #131 "[SUGGESTION] Refactor Issue Templates"
### What would you like to share?
- Consider deleting links that may be confusing to contributors

### Additional information

_No response_

[2022-10-14 15:10] slim-codes commented on #131
Yeah! That's true though
Surely! The links can be edited out of the templates to avoid confusion.

[2022-10-14 23:07] #86 closed

[2022-10-14 23:15] adropofilm opened #133 "[OTHER]"
### What would you like to share?

When you search for an abbreve that doesn't exist in the db.json, the following occurs:
1. The entire "Start by entering a slang," and search input area shifts left
2. The width in px of the <div> containing the search and the results expands 200+ pixels.

**Behavior shown in gif below:**
![Screen Recording 2022-10-14 at 6 12 15 PM](https://user-images.githubuser

[2022-10-15 06:40] ctoffanin commented on #133
Isn't this the same as #88?

[2022-10-15 07:10] adropofilm commented on #133
Welp. I completely forgot that exist, good catch @ctoffanin. Closing now LOL

[2022-10-15 07:10] #133 closed

[2022-10-15 07:17] adropofilm commented on #88
Gonna try to tackle this! Assigning to myself. :)

[2022-10-15 11:10] reny-pacheco commented on #128
Hello @Njong392 , @mathiasayivor , in relation to this issue, I found out that special characters in abbreviation is encoded when creating its `.json` file. And requesting `s/o` doesn't return its abbreviation.

Example: `s/o` ➡️ `s%2Fo.json`

**Question:** Is it advisable to allow contributors to add special characters to abbreviation?

[2022-10-15 11:32] mathiasayivor commented on #128
Yes, we definitely have to encode abbreviations with special characters, since those characters are not allowed as file names.

And yes, developers can encode abbreviations, but they must include mapping for the encoded version in the `public/server/encodedAbbrMappings.json` file.

Also, thanks for pointing this out, as I thought searching for encoded abbreviations was added after the last breakin

[2022-10-15 12:18] reny-pacheco commented on #128
Based on my understanding, fetching of abbreviations goes directly to `/db/<abbrev>.json` which sometimes contain the encoded abbrev.
Where is` encodedAbbrMapppings.json` used for? since the requested abbrev comes from  `/db/<abbrev>.json`?

Also thanks for responding to my questions. 😃

[2022-10-15 17:39] mathiasayivor commented on #128
The `encodedAbbrMappings.json` is to help us easily find the original version for encoded abbreviations.

[2022-10-16 11:00] Njong392 commented on #131
Do you want to go for it? Maybe create new issue templates?

[2022-10-16 11:00] Njong392 commented on #115
Closing this as complete.

[2022-10-16 11:00] #115 closed

[2022-10-16 11:39] slim-codes commented on #131
Sure! I'd be happy to do so.
I'll just edit it instead. Also, if there are any categories. missing I'll append them to the current template

[2022-10-16 17:25] Aysuarex opened #135 "[DOCS] <Update Todo>"
### Description

The "HOW TO" readme in public/server has a TODO that says you need to add instructions r contributing to the main readme. This has already been done actually. Should I update the README (I mean the one in public/server)?

### Screenshots

![Screenshot_20221016-182308](https://user-images.githubusercontent.com/99369085/196049262-478d1a29-d860-4a90-8790-16beb5539c08.jpg)

### Additi

[2022-10-17 16:46] Njong392 commented on #13
@Onyelaudochukwuka I apologize if this is too much pressure, but is it safe to close this issue?

[2022-10-17 16:50] #131 closed

[2022-10-17 16:52] Onyelaudochukwuka commented on #13
Yes it is

[2022-10-17 16:54] #92 closed

[2022-10-17 17:00] Njong392 commented on #135
There have been some major updates. With the new merge, this is no longer an issue. I think it's okay to close this issue. What do you think?

[2022-10-17 17:04] Aysuarex commented on #135
That's fine. Since it's been solved 👌🏾

[2022-10-17 17:04] #135 closed

[2022-10-17 17:32] #125 closed

[2022-10-17 17:43] Njong392 opened #137 "DOCS: Change all `slangs` in README to `slang`"
### Description

The word `slang` isn't really exactly a word if I'd say. So it's strange that we are coining a plural form for it. In the README.md file of the project, all occurrences of `slangs` should be changed to `slang`

### Screenshots

_No response_

[2022-10-17 17:51] Njong392 opened #138 "DOCS: Change letter in README to lowercase and add `it` to a sentence"
### Description

From the screenshot below, some part of the phrase in the README.md dos not read correctly. Change the below phrase from;

'Before adding an abbreviation, please make sure that the new entry does Not already exist. You can easily check this by entering the slang on the [live](https://abbreve.vercel.app/) site to see if gives a result or not.'

To;

'Before adding an abbreviation,

[2022-10-17 18:24] sebastianmariani commented on #137
Hey @Njong392, I would love to help. :)

[2022-10-17 18:44] Njong392 commented on #137
Awesome! I've assigned you. Go for it :fire:

[2022-10-17 19:22] slim-codes opened #139 "DOCS: Minor Issue in Contributing.md"
### Description

The link for **Basic etiquette** in the image below should point to [Open Source Etiquette](https://developer.mozilla.org/en-US/docs/MDN/Community/Open_source_etiquette), instead, it is currently pointing to [GitHub for beginners](https://developer.mozilla.org/en-US/docs/MDN/Contribute/GitHub_beginners)

### Screenshots

![Screenshot from 2022-10-17 20-16-18](https://user-images.g

[2022-10-17 20:55] sebastianmariani commented on #139
Happy to work on it :)

[2022-10-18 02:53] Vinitvh commented on #138
Hi, can I work on this?

[2022-10-18 07:17] rupali-codes opened #143 "DOCS: Update text"
### Description

This text should be updated as We can have mutliple abbreviations for a single word
![image](https://user-images.githubusercontent.com/78981177/196362239-2b453461-e494-415d-9fa2-93bb95ff4823.png)

### Screenshots

_No response_

[2022-10-18 10:56] Njong392 commented on #138
Sure. Assigning you.

[2022-10-18 10:57] #137 closed

[2022-10-18 10:58] #13 closed

[2022-10-18 10:59] Njong392 commented on #143
What I meant by this, was that if someone entered the full meaning of a slang, it won't give them the abbreviation. That is, you can only get full meanings, and not the other way round.

[2022-10-18 11:03] Njong392 commented on #139
Closing this as complete.

[2022-10-18 11:03] #139 closed

[2022-10-18 12:56] #138 closed

[2022-10-18 13:55] rupali-codes commented on #143
Ohh, ok thanks Emy! ;)

[2022-10-19 09:15] ctoffanin commented on #75
I didn't flee! I'm having some trouble with CSS (well, not a surprise 😄).
If I can't figure stuff out, I'll make a PR and somebody will help me from there.

[2022-10-19 09:19] Njong392 commented on #75
You can always open a draft pull request and we'll fix it from there. I'm sure your work will be great Cristian.

[2022-10-21 11:15] Njong392 opened #147 "Add meaning of WYSIWYG"
### What would you like to share?

Add the meaning of the slang, WYSIWYG which is 'What You See Is What You Get'. Read the project README to see instructions on how to add a new abbreviation.

### Additional information

_No response_

[2022-10-21 11:26] Njong392 opened #148 "BUG: Remove `slangs` on website and replace it with `slang`"
### Description

The word 'slangs' looks strange in plural, so 'slang' as singular should be used. Replace all occurrences of 'slangs' on the website to 'slang'.

Check in the `hero.jsx` component in the `src` folder for the related page.

### Screenshots

![Section of site with the word 'slangs'](https://user-images.githubusercontent.com/81039882/197185217-c4dd83a1-614f-4821-a70d-b3ca413540a5.png

[2022-10-21 14:09] rupali-codes opened #149 "[OTHER] New Abbreviations"
### What would you like to share?

Hey Emy!
I have something new to add!
- aka - Also Known As
- lg - Let's Go
- wrul - Why Are You Laffing
- wrud - What Are You Doing
- gtg - Got To Go

### Additional information

_No response_

[2022-10-21 19:49] davidlashlee commented on #148
will you assign this to me? Ill take care of it.

[2022-10-22 10:40] #148 closed

[2022-10-22 21:42] leonvsc opened #152 "[OTHER] Add abbreviations"
### What would you like to share?

Hi, I would like to add the following abbreviations:
- gg
- cu
- dtf
- pls
- btt
- xoxo
- wb
- cya
- tgif
- gr8

### Additional information

_No response_

[2022-10-22 22:23] Njong392 commented on #152
Go ahead! I'll assign you 😊

[2022-10-23 19:27] Njong392 commented on #149
Go ahead @rupali-codes Assigning you!

[2022-10-24 17:50] leonvsc opened #154 "DOCS: Wrong URL in contributing.md"
### Description

There is a wrong URL in the contributing.md file. It refers to a MDN repository instead of your own.

Current:
[code]

Should be:
[code]

Shall I fix this?

### Screenshots

_No response_

[2022-10-26 12:05] Njong392 commented on #154
Eek. That doesn't look good. Go for it @leonvsc Assigning you!

[2022-10-26 12:14] #152 closed

[2022-10-26 12:23] #149 closed

[2022-10-26 12:45] vedant-z commented on #147
@Njong392 May I work on this 🙂

[2022-10-26 13:10] Njong392 commented on #147
Sure thing! Assigning you.

[2022-10-27 15:17] #154 closed

[2022-10-27 15:33] Njong392 opened #159 "DOCS: Change old project url to new project url"
### Description

We recently moved the project from https://abbreve.vercel.app to https://www.abbreve.tech/ but in the project README there exists parts where the old URL still exists.

Find occurrences of these links in the READEME and change them to the new url.

### Screenshots

_No response_

[2022-10-27 15:43] #147 closed

[2022-10-27 15:46] Njong392 commented on #159
If you added the changes to your previous PR, then you didn't commit and/or push them. I just merged your previous PR and the only change I merged was the new commit you made to the json file. Feel free to work on this by the way.

[2022-10-27 15:50] Njong392 commented on #116
Hello @TreciaKS this project has been updated a lot since after you created this issue. Please sync your fork with this upstream repo and read the README again to see how the project now stores abbreviations. We already have entries for everything on this list except `dyk` and `bts` Do you still wish to work on it?

[2022-10-27 20:29] TreciaKS commented on #116
Yes I do. Will do so and create a PR tomorrow

On Thu, 27 Oct 2022, 17:50 Njong Emy, ***@***.***> wrote:

[2022-10-29 18:36] Njong392 commented on #88
@adropofilm are you still on this?

[2022-10-31 06:52] MistaZidane opened #167 "FEATURE: <Add fuzzy search to the api>"
### Description

To make the search much more effective, I suggest we add fuzzy search such that "idcc" if not found will suggest "idc" instead of showing This entry does not exist in our records as of yet. The best match should be returned.

### Screenshots

_No response_

[2022-11-01 18:56] #116 closed

[2022-11-01 19:09] Njong392 commented on #167
Do you still want to be assigned to this @MistaZidane ? Asking in relation to our conversation on LinkedIn.

[2022-11-03 17:21] rupali-codes opened #172 "[New Abbreviations]"
### What would you like to share?

I was talking to one of my friend and I got something to add!

- idts - I Don't think So
- idli -  I Don't Like It
- ili - I Like it

### Additional information

_No response_

[2022-11-04 22:22] Njong392 commented on #172
Go ahead @rupali-codes :heart: Assigning you!

[2022-11-05 22:12] adropofilm commented on #88
Hi friends, passing this on to anyone who wants to take it up. Been assigned to me for a while, sorry!

[2022-11-07 00:12] Njong392 opened #174 "FEATURE: Adjust the way abb. are displayed on mobile."
### Description

On mobile devices, around the search button, when a slang is entered the abbreviation falls way below the submit button. Perhaps we could redesign it in such a way that we move the results up to align side by side with the submit button on mobile devices.

See screenshot to see the problem.

### Screenshots

![abbreve-git-fork-ctoffanin-add-spinner-njong392 vercel app_(iPhone SE)]

[2022-11-07 00:14] Njong392 commented on #88
I think it's safe to close this. Since we moved the search bar to the top, we don't have much of this problem anymore. What do you think @adropofilm

[2022-11-07 00:18] Njong392 opened #175 "FEATURE: Add meta info to the site"
### Description

Currently, when we share the project link on some social media, for example, there is no preview image. It would be nice to have meta information so that when we share the link on Twitter, a nice card is generated with the site preview and a short description.

[Here](https://css-tricks.com/essential-meta-tags-social-media/) is a nice reference on meta tags.

If we do decide to wo

[2022-11-07 00:32] Njong392 opened #176 "ABBREVIATION: Add WIP to dictionary"
### Description

WIP = Work In Progress does not exist in our records yet. In the `public/server/db` directory, create `wip.json` and add new abbreviation. Check out README for any needed steps.

[2022-11-07 00:39] jtaylor1204 opened #178 "ABBREVIATION: <description>"
### Description

Want to add:

1. wym (what you mean)
2. bffr (be fucking for real)
3. lbvs (laughing but very serious)

[2022-11-07 00:41] Njong392 commented on #178
Closing this as fixed, done, and dusted! Thanks for your contribution :heart:

[2022-11-07 00:41] #178 closed

[2022-11-07 06:18] PriyansuMaurya commented on #88
The bug has not been fixed till now although the search bar has been moved to the top. you can see this in the video 👇
[Abbreve Word Wrap Bug](https://www.veed.io/view/e10ffe46-31cf-482e-a4b5-1c471c483bf5?renderId=8e4794d3-1c05-43be-a1e1-f121c81f0fca)

[2022-11-07 10:09] Njong392 commented on #176
Sureee! Assigning you!

[2022-11-08 12:34] Hat52 opened #181 "BUG: Change the submit button text to Search"
### Description

The text submit does not really clarify if we are submitting a new Abbreve or we are searching for an Abbreve. Replacing the submit text with search would make a lot of sense.

### Screenshots

![image](https://user-images.githubusercontent.com/44437268/200564507-4239192e-88ca-46a8-ae3a-0efc1cfc19d4.png)

[2022-11-08 12:36] Hat52 commented on #175
I would like to take up this issue.

[2022-11-08 13:16] Njong392 commented on #175
Go ahead! Assigning you.

[2022-11-09 07:53] Hat52 commented on #175
@Njong392 can you provide the description and also the preview image.

[2022-11-10 06:26] Sriparno08 opened #182 "[OTHER] Add Abbreviation"
### What would you like to share?

Hey Emy!

I would like to add the definition for the abbreviation "PAW"!

### Additional information

_No response_

[2022-11-12 07:38] #182 closed

[2022-11-12 07:41] Njong392 commented on #181
Do you want to be assigned to this @Hat52 ?

[2022-11-12 07:47] Hat52 commented on #181
Yes

[2022-11-12 08:19] Njong392 commented on #175
Image link: https://i.imgur.com/dEy9x91.png
Description: Open-source dictionary for slang.

[2022-11-12 08:19] Njong392 commented on #181
Assigned you.

[2022-11-12 10:57] Hat52 commented on #181
Yes

[2022-11-12 12:31] rupali-codes opened #186 "DOCS: update link for cloning the repo in CONTRIBUTING.md"
### Description

Hi, I just noticed something, the link in CONTRIBUTING.md for cloning is the repo is not working, kindly update it from ```git@github.com:emy/Abbreve.git``` to ```git@github.com:Njong392/Abbreve.git```.

### Screenshots

![image](https://user-images.githubusercontent.com/78981177/201473925-245dfa32-4109-4a97-b066-3ec586a0fc42.png)

[2022-11-13 16:53] Njong392 opened #188 "Abbreve forms"
What issue are you facing? Missing Abbreviation
Which slang/feature/bug? :Uwc
Bug description:

[2022-11-13 17:15] Njong392 commented on #186
Ohhh... that's bad. Assigned you Rupali!

[2022-11-14 06:00] rupali-codes commented on #186
Alright Emy! fixed :)

[2022-11-14 06:09] #186 closed

[2022-11-17 15:41] Sriparno08 opened #191 "TNTL: Trying Not To Laugh"
### Description

Hey Emy!

I would like to add the definition for the abbreviation "TNTL"!

[2022-11-19 21:53] Njong392 commented on #181
Closing this as complete.

[2022-11-19 21:53] #181 closed

[2022-11-19 21:55] #191 closed

[2022-11-21 18:26] E-fais commented on #174
Let me try this issue, can you please assign me.

[2022-11-21 18:51] Njong392 commented on #174
Sure thing @E-fais Assigning you!

[2022-11-21 18:53] Njong392 commented on #175
How far with this @Hat52 ? All good? If you need anything feel free to drop your query here.

[2022-11-21 19:53] Hat52 commented on #175
I will create a PR by tomorrow. No blockers right now but in case I hit one I will surley ask for help.

[2022-11-22 19:11] Njong392 commented on #175
But it does for me. Could you try opening it on another browser?

[2022-11-23 17:29] E-fais commented on #174
Thanks

[2022-11-23 19:40] #75 closed

[2022-11-23 19:41] Njong392 commented on #172
Hey there @rupali-codes will you be submitting another pull request for this?

[2022-11-23 19:41] #167 closed

[2022-11-23 19:42] Njong392 commented on #88
Ooof... I somehow missed this issue. Thanks for the video @PriyansuMaurya I'll set out to fix some stuff this weekend.

[2022-11-24 17:53] rupali-codes commented on #172
oh, yeah, sure Emy!

[2022-11-28 17:51] #172 closed, assigned to rupali-codes

[2022-11-28 17:55] #175 closed